<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
$if(abstract)$
<meta name="description" content="$abstract$">
$else$
<meta name="description" content="This the homepage and blog of Steven Watson.">
$endif$
<title>$title$</title>
<link href="/css/syntax.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif" rel="stylesheet">
</head>
<body>
<nav class="header">
<span><a href="../" target="_self"><h1>Steven Watson's<br>Personal Journal</h1></a></span>
<ul>
<li><a href="https://github.com/steven741/" target="_self"><span>repos</span></a></li>
</ul>
</nav>
$body$
<footer>
</footer>
</body>
</html>
