body {
    margin: 0;
    padding: 0;

    color: #262526;
    background-color: #F2F2F2;
}

h1 { font-family: 'Noto Serif', serif; font-size: xx-large; margin-bottom: 0.25em; }
h2 { font-family: 'Noto Serif', serif; font-size: x-large; margin-bottom: 0.25em; }
h3 { font-family: 'Noto Serif', serif; font-size: larger; margin-bottom: 0.25em; }
h4 { font-family: 'Noto Serif', serif; font-size: large; margin-bottom: 0.25em; }

::selection {
    background-color: #262526;
    color: #F2F2F2;
}
::-moz-selection {
    background-color: #262526;
    color: #F2F2F2;
}



/*
Comment Section
*/
section {
    width: 700px;
    margin: 0px auto;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}



/*
Article
*/
article {
    box-shadow: 2px 4px 5px 2px #8C8979;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Noto Serif', serif;

    width: 700px;
    margin: 0px auto;

    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}

article p {
    margin-top: 10px;
}

article blockquote {
    border-left: solid #F6503D 4px;
    margin-left: 0px;
}

article blockquote p { margin-left: 20px; }
article blockquote footer { margin-left: 20px; }


/*
Header
*/
article header h1 {
    margin-top: 0px;
}

article header time {
    color: #8C8979;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    font-style: italic;
    font-weight: lighter;
    font-size: 0.85em;
}


article header ul {
    padding-left: 20px;
    list-style-type: disc;
    list-style-position: inside;
}


article header ul li a {
    all: initial;
    color: #262526;
    text-decoration: underline;
    font-family: 'Noto Serif', serif;
}


article header p {
    color: #404040;
    margin-top: 30px;
}

article header hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

article header nav {
    margin: auto;
}


/*
Figures
*/
article figure figcaption {
    color: #404040;
}

article figure img {
    backface-visibility: hidden;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}





/*
    Mobile CSS
*/
@media only screen and (max-width: 900px) {
    section {
        width: 90vw;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    article {
        box-shadow: none;
        width: 90vw;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
