/*
*/
nav {
    position: sticky;

    display: flex;
    flex-direction: column;

    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}

nav a {
    display: inline-block;
    text-decoration: none;

    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav a h1 {
    background-color: #262526;
    color: #F2F2F2;

    font-size: 2.4em;
    font-family: 'Noto Sans', sans-serif;

    padding-left: 5px;
    padding-right: 2px;

    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


/*
*/
nav ul {
    padding-left: 0px;
    padding-right: 0px;

    list-style-type: none;
}

nav ul li {
    margin-top: 4px;
}

nav ul li a {
    display: inline-block;
    background-color: #262526;
    color: #F2F2F2;

    text-decoration: none;

    font-size: 1.8em;
    font-family: 'Noto Sans', sans-serif;

    padding-left: 5px;
    padding-right: 2px;
}



/* Don't use any of these for an article. */
article nav {
    all: initial;
    all: unset;
}
article nav ul li {
    margin-top: 0px;
}



@media only screen and (max-width: 600px) {
    nav h1 {
        font-size: 1.8em;
    }

    nav ul li a {
        font-size: 1.6em;
    }
}
