body {
    margin: 0;
    padding: 0;

    color: #0B1B1F;
    background-color: #FAF8F8;
}

::selection {
    background-color: #0B1B1F;
    color: #FAF8F8;
}
::-moz-selection {
    background-color: #0B1B1F;
    color: #FAF8F8;
}

h1 { font-family: 'Noto Serif', serif; font-size: xx-large; margin-bottom: 0.25em; }
h2 { font-family: 'Noto Serif', serif; font-size: x-large; margin-bottom: 0.25em; }
h3 { font-family: 'Noto Serif', serif; font-size: larger; margin-bottom: 0.25em; }
h4 { font-family: 'Noto Serif', serif; font-size: large; margin-bottom: 0.25em; }



/*
*/
nav.header {
    display: flex;
    flex-direction: column;

    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}

nav.header a {
    display: inline-block;
    text-decoration: none;

    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav.header a h1 {
    background-color: #0B1B1F;
    color: #F8F8F8;

    font-size: 2.4em;
    font-family: 'Noto Sans', sans-serif;

    padding-left: 5px;
    padding-right: 2px;

    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav.header ul {
    padding-left: 0px;
    padding-right: 0px;

    list-style-type: none;
}

nav.header ul li {
    margin-top: 4px;
}

nav.header ul li a {
    display: inline-block;
    background-color: #0B1B1F;
    color: #FAF8F8;

    text-decoration: none;

    font-size: 1.8em;
    font-family: 'Noto Sans', sans-serif;

    padding-left: 5px;
    padding-right: 2px;
}

@media only screen and (max-width: 600px) {
    nav.header h1 {
        font-size: 1.8em;
    }

    nav.header ul li a {
        font-size: 1.6em;
    }
}















section.articles {
    margin: 0 auto;
    width: 800px;

    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

div.article {
    margin-bottom: 30px;
}

section.articles h2 {
    display: inline-block;
    background-color: #0B1B1F;
    color: #FAF8F8;

    font-family: 'Noto Sans', sans-serif;
    font-size: 1.75em;

    padding-left: 4px;
    padding-right: 4px;
}

section.articles time {
    display: inline-block;
    background-color: #0B1B1F;
    color: #FAF8F8;

    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
    font-size: 0.90em;

    padding-left: 4px;
    padding-right: 4px;
}

section.articles img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 500px;
    height: 400px;
}

section.articles p {
    font-family: 'Noto Serif', serif;
}

@media only screen and (max-width: 820px) {
    section.articles {
        width: auto;
    }
    section.articles p {
        display: none;
    }
}
@media only screen and (max-width: 540px) {
    section.articles img {
        width: 90vw;
        height: 72vw;
    }
}
















/*
Article
*/
article {
    box-shadow: 2px 4px 5px 2px #C5CBCB;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Noto Serif', serif;

    width: 700px;
    margin: 0px auto;

    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}

article p {
    margin-top: 10px;
}

article blockquote {
    border-left: solid #E17146 4px;
    padding-left: 20px;
    margin-left: 0px;
}

article div.sourceCode {
    overflow: auto;
    border-left: solid #50C6D1 4px;
    padding-left: 20px;
    margin-left: 0px;
}

/*
Header
*/
article header h1 {
    margin-top: 0px;
}

article header time {
    color: #0B1B1F;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    font-style: italic;
    font-size: 0.85em;
}

article header ul {
    padding-left: 20px;
    list-style-type: disc;
    list-style-position: inside;
}

article header ul li a {
    all: initial;
    color: #0B1B1F;
    text-decoration: underline;
    font-family: 'Noto Serif', serif;
}

article header p {
    color: #0B1B1F;
    margin-top: 30px;
}

article header hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

article header nav {
    margin: auto;
}

/*
Figures
*/
article img {
    backface-visibility: hidden;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

/*
Comment Section
*/
section {
    width: 700px;
    margin: 0px auto;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

/*
    Mobile CSS
*/
@media only screen and (max-width: 900px) {
    section {
        width: 90vw;
        padding-left: 0px;
        padding-right: 0px;
    }

    article {
        box-shadow: none;
        width: 90vw;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
