body {
    margin: 0;
    padding: 0;

    background-color: #F2F2F2;
}

section.articles {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;

    justify-items: center;
}

section.articles a {
    text-decoration: none;
    display:inline-block;
    width:100%;
    height:100%;
}


/*
    LEFT ELEMENT
*/
section.articles div.left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    float: left;
    width: 23vw;
    height: 20vw;
    margin-left: 10px;
    margin-right: 6px;
}

section.articles h2 {
    display: inline-block;
    background-color: #262526;
    color: #F2F2F2;

    font-family: 'Noto Sans', sans-serif;
    font-size: 1.70em;

    margin-left: 10px;
    margin-right: 10px;
    padding-left: 3px;
    padding-right: 3px;

    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

section.articles time {
    display: inline-block;
    background-color: #262526;
    color: #F2F2F2;

    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 0.90em;

    margin-top: 4px;
    margin-left: 10px;
    padding-left: 3px;
    padding-right: 3px;

    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}


/*
    RIGHT ELEMENT
*/
section.articles div.right {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    overflow: hidden;

    color: #404040;
    font-family: 'Noto Serif', serif;

    float: right;
    width: 23vw;
    height: 20vw;
    margin-right: 10px;

    border-left: solid #8C8979 4px;
}

section.articles div.right:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(242,242,242, 0), rgba(242,242,242, 1) 90%);
    width: 100%;
    height: 1em;
}

section.articles div.right p {
    margin-top: 4px;
    margin-left: 6px;
}


@media only screen and (min-width: 1600px) {
    section.articles div.left {
        width: 376px;
        height: 326px;
        margin-left: 0px;
    }
    section.articles div.right {
        width: 376px;
        height: 326px;
        margin-right: 0px;
    }
}


/*
    MOBILE
*/
@media only screen and (max-width: 1320px) {
    section.articles {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    section.articles div.left {
        width: 45vw;
        height: 240px;
        margin-left: 0px;
    }

    section.articles div.right {
        width: 45vw;
        height: 240px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 660px) {
    section.articles div.right {
        display: none;
    }

    section.articles div.left {
        width: 90vw;
        margin-left: 0px;
    }
}
