body {
    margin: 0;
    padding: 0;

    background-color: #F2F2F2;
}


section.articles {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;

    justify-items: center;
}

section.articles a {
    text-decoration: none;
    display:inline-block;
    width:100%;
    height:100%;
}


/*
    LEFT ELEMENT
*/
section.articles div.left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    float: left;
    width: 23vw;
    height: 20vw;
    margin-left: 10px;
    margin-right: 6px;
}

section.articles h2 {
    display: inline-block;
    background-color: #262526;
    color: #F2F2F2;

    font-family: 'Noto Sans', sans-serif;

    margin-left: 10px;
    margin-right: 10px;
    padding-left: 3px;
    padding-right: 3px;

    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

section.articles time {
    display: inline-block;
    background-color: #262526;
    color: #F2F2F2;

    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 0.85em;

    margin-top: 4px;
    margin-left: 10px;
    padding-left: 3px;
    padding-right: 3px;

    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}


/*
    RIGHT ELEMENT
*/
section.articles div.right {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    color: #404040;
    font-family: 'Noto Serif', serif;

    float: right;
    width: 23vw;
    height: 20vw;
    margin-right: 10px;

    border-left: solid #8C8979 4px;
}

section.articles div.right p {
    margin-left: 6px;
}



/*
    MOBILE
*/
@media only screen and (max-width: 1320px) {
    section.articles {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    section.articles div.left {
        width: 45vw;
        height: 240px;
        margin-left: 0px;
    }

    section.articles div.right {
        width: 45vw;
        height: 240px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 660px) {
    section.articles div.right {
        display: none;
    }

    section.articles div.left {
        width: 90vw;
        margin-left: 0px;
    }
}


@media screen
  and (max-device-width: 360px)
  and (max-device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {
    section.articles {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    section.articles div.right {
        display: none;
    }

    section.articles div.left {
        width: 45vw;
        height: 240px;
        margin-left: 0px;
    }
}